<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">

<listeners>
<listener class-name="day5.Itestlistnertest"></listener>
<listener class-name="day5.Extentreport"></listener>
</listeners>

  
  
   <test thread-count="5" name="Test1">
  

   <parameter name="browser" value="https://opensource-demo.orangehrmlive.com/web/index.php/auth/login"></parameter>
  
  <groups>
  <run>
  
  <exclude name="abc"/>'
  </run>
	  
  </groups>
    <classes>
      <class name="day5.Testng01"/>
    </classes>
  </test> 
  
  <!-- Test -->
</suite> <!-- Suite -->
